@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 253, 248, 244;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

/* 添加底部安全区域 */
.safe-bottom {
  padding-bottom: env(safe-area-inset-bottom);
}
